.btn-size{
    min-width: 75px;
    max-width: 75px;
    height: 75px;
}

.btn-text-large {
    font-size: xx-large;
}

.btn-test-medium{
    font-size: large;
}

.group-margin-top{
    margin-top: 4px;
}

.well-margin{
    margin-top: 10px;
    margin-bottom: 10px;

}

.imgpadding{
    margin-top: 150px;
}

#map{

    bottom:0;
    width:100%;
    height:500px;
}

.navbar-btn{
    margin-left:10px;
}