.btn-size{
    min-width: 75px;
    max-width: 75px;
    height: 75px;
}

.btn-text-large {
    font-size: xx-large;
}

.btn-test-medium{
    font-size: large;
}

.group-margin-top{
    margin-top: 4px;
}

.well-margin{
    margin-top: 10px;
    margin-bottom: 10px;

}